<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Bravo</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/style.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body ng-app="aszapp" ng-controller="AppCtrl">
        <!-- Start links section -->
        <header class="clearfix">
            <div class="top-bar" style="display: block;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="contact-details">
                                <li><a href="#aboutus">{{translation.about_us}}</a></li>
                                <li><a href="#news">{{translation.news}}</li>
                                <li><a href="#blog">{{translation.blog}}</a></li>
                                <li><a href="#contactus">{{translation.contact_us}}</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <ul class="contact-details">
                                <li><a href="#checkout">  <i class="fa fa-check">{{translation.check_out}}</i> </a></li>
                                <li class="pull-right"><a href="#"> {{translation.toll_free}}<b class="bravo-number"> 333 444 555</b></a></li>
                            </ul>
                        </div>
                        <div class="col-xs-2 lang-change">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img src={{selectedLanguage.url}}> {{selectedLanguage.name}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-click="translate('en')"><a href="#" >{{translation.en_lang}}</a></li>
                                    <li ng-click="translate('az')"><a href="#">{{translation.az_lang}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .row -->
                </div>
                <!-- .container -->
            </div>
            <!-- End link section -->
            <div class="bravo-branding">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <a href="#" class="bravo-link"></a>
                        </div>
                        <div class="col-xs-5 bravo-head-serch">
                            <div class="input-group">
                                <div class="input-group-addon clear-input-prop">
                                    <!--                                    <select class="selectpicker form-control" data-live-search="true" title="Please select a lunch ..." style="width:100%">
                                                                            <option>All Categories</option>
                                                                        </select>-->
                                    <select class="selectpicker form-control" data-live-search="true" title="Please select a category ..." style="width:100%" ng-change="showProductsByCategory()" ng-model="category.name">
                                        <!--                                        <option>All Categories</option>-->
                                        <option ng-repeat=" data in catagories" value="{{data.name}}">{{data.name}}</option> <!-- interpolation -->
                                    </select>
                                </div><!-- /btn-group -->
                                <input type="text" class="form-control" aria-label="...">
                                <span class="input-group-addon search-btn" ><i class="fa fa-search"></i></span>
                            </div><!-- /input-group -->
                        </div>
                        <div class="col-xs-1 no-pad">
                            <a class="btn bravo-clean-green-btn btn-default">Register <i class="fa fa-chevron-down"></i></a>
                        </div>
                        <div class="col-xs-4 no-pad bravo-x-parent">
                            <div>
                                <div class=""><a href="#myaccount" class="bravo-x-links"><i class="fa fa-user"></i> <span>MY ACCOUNT</span></a></div>
                                <div class=""><a href="#trackorder" class="bravo-x-links"><i class="fa fa-map-marker"></i> <span>TRACK ORDER</span></a></div>
                                <div class=""><a  href="#login" class="bravo-x-links"><i class="fa fa-lock"></i> <span>LOGIN</span></a></div>
                                <div class=""><a   href="#cart" class="btn bravo-full-green-btn btn-default">CART <i class="fa fa-chevron-down"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Navigation -->
            <nav class="navbar navbar-inverse bravo-navbar " role="navigation">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle bravo-green" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{translation.shop_anything}}<span class="fa fa-chevron-down"></span>  </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <ul class="bravo-nav-links">
                                <li class="active" data-rel=".menu-link-1"><a href="#recipees"> RECIPEES</a></li>
                                <li data-rel=".menu-link-2"><a  href="#ramadan">RAMADAN</a></li>
                                <li data-rel=".menu-link-3"><a  href="#grocery"> GROCERY</a></li>
                                <li data-rel=".menu-link-3"><a href="#drinks"> DRINKS</a></li>
                                <li data-rel=".menu-link-3"><a href="#vegetables"> VEGETABLES</a></li>
                                <li data-rel=".menu-link-3"><a href="#fruits"> FRUITS</a></li>
                                <li data-rel=".menu-link-3"><a href="#breads"> BREADS</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-2 pull-right">
                            <a class="btn bravo-white-btn btn-default pull-right">Book a Delivery</a>
                        </div>
                    </div>
                </div>
                <!-- /.container -->
            </nav>
            <!-- sub menus -->
            <div class="container">
                <div class="col-xs-12 bravo-sublink menu-link-1 active">
                    <a>Featured</a><a>Top Rated</a><a>Newest</a><a>Local/Baku/Ganja/Lenkeran</a> <a>Healthy Food</a> <a>Seasonal</a> <a>Kids Menu</a><a>My Saved Recipe</a><a>My Favorites</a>
                </div>
                <div class="col-xs-12 bravo-sublink menu-link-2">
                    <a>Featured</a><a>Top Rated</a><a>Newest</a><a>Local/Baku/Ganja/Lenkeran</a> <a>Healthy Food</a> <a>Seasonal</a> <a>Kids Menu</a><a>My Saved Recipe</a><a>My Favorites</a>
                </div>
                <div class="col-xs-12 bravo-sublink menu-link-3">
                    <a>Featured</a><a>Top Rated</a><a>Newest</a><a>Local/Baku/Ganja/Lenkeran</a> <a>Healthy Food</a> <a>Seasonal</a> <a>Kids Menu</a><a>My Saved Recipe</a><a>My Favorites</a>
                </div>
            </div>
            <!-- -->
        </header>
        <!-- Page Content -->
        <div class="container">
            <div ng-view></div>
        </div>




        <!-- /.container -->
        <!-- Page Content end -->

        <!-- Footer -->
        <footer>
            <div class="col-xs-12 foot-green">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 "><p>&nbsp;</p></div>
                        <div class="col-xs-4 no-pad"><h4><b>{{translation.sign_up}}</b>{{translation.exclusive_news}}</h4></div>
                        <div class="col-xs-3 ">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{translation.email}}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">{{translation.sign_up}}</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="foot-details">
                    <div class="col-md-2">
                        <b>Our Products</b>
                        <p>Our Quality standards </p>
                        <p>Our product lines </p>
                        <p>Locally grown </p>
                    </div>
                    <div class="col-md-2">
                        <b>Recipees</b>
                        <p>Featured </p>
                        <p>Top rated </p>
                        <p>Newest</p>
                        <p>Local  / Baku/ Ganja / Lenkeran </p>
                        <p>Italian / Chinese / French  </p>
                        <p>Healthy Food</p>
                        <p>Seasonal</p>
                        <p>Kids Menu </p>
                        <p>My saved recipe </p>
                        <p>My favorites  </p>
                    </div>
                    <div class="col-md-2">
                        <b>Our Account</b>
                        <p>Your Account</p>
                        <p>Personal information</p>
                        <p>Addresses</p>
                        <p>Discount</p>
                        <p>Orders history</p>
                        <p>Addresses</p>
                        <p>Search Terms</p>
                    </div>
                    <div class="col-md-2">
                        <b>Our Products</b>
                        <p>Our Quality standards Our product lines Locally grown </p>
                    </div>
                    <div class="col-md-2">
                        <b>Our Products</b>
                        <p>Our Quality standards Our product lines Locally grown </p>
                    </div>
                    <div class="col-md-2">
                        <b>Our Products</b>
                        <p>Our Quality standards Our product lines Locally grown </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 foot-note">
                <div class="container">
                    <div class="col-xs-4 no-pad">
                        <img src="image/pay/ax.png">
                        <img src="image/pay/mc.png">
                        <img src="image/pay/mtro.png">
                        <img src="image/pay/ppl.png">
                        <img src="image/pay/visa.png">
                    </div>
                    <div class="col-xs-4 no-pad">
                        <p>Copyright &copy; Your Website 2014</p>
                    </div>
                    <div class="col-xs-4 no-pad">
                        <div class="pull-right">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-pinterest"></i>
                            <i class="fa fa-google"></i>
                            <i class="fa fa-tumbler"></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Angular js -->
        <script src="js/angular.1.3.15.min.js"></script>
        <script src="js/angular-route.1.3.15.min.js"></script>       
        <script src="js/angular-resource.1.3.15.min.js"></script>   


        <!-- jQuery -->

        <script src="app/app.js"></script>
        <script src="app/config.js"></script>
        <script src="app/controllers/appCtrl.js"></script>
        <!--                <script src="app/controllers/homeCtrl.js"></script>-->
        <script src="app/controllers/aboutCtrl.js"></script>
        <!--        <script src="app/controllers/maincontentcontroller.js"></script>-->
        <script src="app/services/localeService.js"></script>
        <script src="app/services/productServices.js"></script>
        <script src="js/jquery.js"></script> 
        <script src="js/script.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>



    </body>

</html>
